body {
	background-color: #EEEEEE;
}

#unreadMsg {
	background-color: #CCCCFF;
	font-family: Monospace;
	font-size:120%;
}

#unreadMsg em{
	font-size:130%;
	
}

/* Frame w/ scrollbar? */
#msgContainer {
	background-color: #FFFFFF;
}

.message {
	display:none;
	margin-right:0;
	text-align:right;
}

/* Why won't the lines align without this? */
.message hr{

	margin-right:0;
	text-align:right;
}