body {
	background-color: #EEEEEE;
	
}

#header {
	position:fixed;
	top:15px;
	width:100%;
}

#unreadMsg {
	background-color: #CCCCFF;
	font-family: Monospace;
	font-size:120%;
	margin-left:0;
	margin-right:calc(100% - 195px);
	position:fixed;
	top:100px;
}

#unreadMsg em{
	font-size:130%;	
}

/* Frame w/ scrollbar? */
/* at this point it's better not to have an overflow scroll due to min-width */
/* G-mail seems to have an overflow-y for the scroll bar on a date element, which is separate from the rest of the header? */
#msgContainer {
	background-color: #FFFFFF;
	left:200px;
	position:fixed;
	overflow-y:auto;
	min-width:400px;
	max-height:calc(100% - 115.5px);
	text-align:left;
	top:115.5px;
	width:calc(100% - 200px);
}

#footer {
	font-size:smaller;
	text-align:left;
    vertical-align:sub;
	position:fixed;
	bottom:-8;
}