body {
	background-color: #EEEEEE;
	overflow:hidden;
}

.main {
	background-color: #EEEEEE;
	height:100%;
	width:100%;
	padding:8px;
	position:relative;
	bottom:8px;
	right:8px;
	
}

#headerImg {
	background-image: url("img/Logo.png");
	background-repeat: no-repeat;
	background-size: 100px 88px;
	position:fixed;
	top:8px;
	height:100px;
	width:114px;
}

#headerEnd {
	position:fixed;
	top:93px;
	width:100%;
}

#unreadMsg {
	background-color: #CCCCFF;
	font-family: Monospace;
	font-size:120%;
	font-weight:700;
	margin-left:0;
	margin-right:calc(100% - 195px);
	position:fixed;
	top:93px;
}

#unreadMsgCount{
	font-size:130%;
	font-style: oblique;
}

#msgContainer {
	background-color: #FFFFFF;
	left:200px;
	position:fixed;
	overflow-y:auto;
	overflow-x:hidden;
	min-width:400px;
	max-height:calc(100% - 108.8px);
	min-height:calc(100% - 108.8px);
	text-align:left;
	top:108.8px;
	width:calc(100% - 200px);
}

.message {
	font: 14px/25px Helvetica, Arial, sans-serif;
}

.messageSubject {
	position:absolute;
	min-width:280px;
	max-width:280px;
	padding-left:5px;
	overflow:hidden;
	font-weight:bold;
}

.messageSubjectInner {
	position:absolute;
	padding-left:5px;
	font-weight:normal;
}

.messageSender {
	position:absolute;
	min-width:180px;
	max-width:180px;
	overflow:hidden;
	left:525px;
	font-weight:bold;
}

.messageSenderInner {
	position:absolute;
	padding-left:5px;
	font-weight:normal;
}

.messageDate {
	position:absolute;
	min-width:1000px;
	left:700px;
	font-weight:bold;
}

.messageDateInner {
	position:absolute;
	padding-left:5px;
	font-weight:normal;
}

.messageBody {
	display:none;
}

.msgHideButton {
	display: none;
}

.msgShowButton {
	display: initial;
}

#footer {
	font-size:8px;
	text-align:left;
    vertical-align:sub;
	position:fixed;
	bottom:-6px;
}

/* Night Mode */
/* init */

input#nightMode {
	position: absolute;
	top: -42px;
	left: -42px;
}

label {
	display: block;
	border-style: solid;
	border-width: 1px;
	height: 25px;
	width: 120px;
	background: #EEEEEE;
	text-align: center;
	font: 14px/25px Helvetica, Arial, sans-serif;
	position: fixed;
	top: 69px;
	left: 199px;
	z-index: 1;
}

label:after {
	content: " Toggle";
}

label:hover {
	background: #DDCA7E;
	color: #FFFFFF;
	cursor: pointer;
}

/* Switched on */
input#nightMode:checked + .main > #headerImg {
	background-image: url("img/LogoNight.png");
}

input#nightMode:checked + .main {
	background-color: #222222;
	width:110%;
	height:110%;
}

/* ???????? */
input#nightMode:checked + .main > #msgContainer {
	background-color: #777777;
	color: #0000FF;
}

input#nightMode:checked + .main > #unreadMsg {
	background-color: #111122;
	color: #000000;
}
input#nightMode:checked + .main > #footer {
	color: #DDCA7E;
}

/* Night Mode End */